/.phpunit.cache
/node_modules
/public/build
/public/vendor
/public/vendor/
/public/assets
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/img
/public/icons
