includes:
    - ./vendor/justbetter/laravel-coding-standard/phpstan.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - app/
        - package/src/
        - tests/
    level: 9
