.prose-custom {
    @apply
        text-base text
        *:not-first:mt-5 prose-headings:not-first:mt-6 prose-p:not-first:mt-4 prose-ul:not-first:mt-3 prose-ol:not-first:mt-3 prose-p:text-muted
        prose-ul:prose-li:before:check-icon prose-li:prose-a:decoration-1 prose-li:prose-a:hover:text-primary prose-li:prose-a:hover:bg prose-ul:prose-li:flex prose-li:not-first:mt-2 prose-strong:text
        prose-ol:list-decimal prose-ol:pl-5 prose-ol:marker:text-primary prose-ol:marker:font-medium prose-ol:prose-li:pl-2.5
        prose-headings:first:text-h2 prose-h1:first:text-h1 prose-h2:text-h2 prose-h3:text-h3 prose-h4:text-h4 prose-headings:font-semibold prose-headings:font-heading prose-headings:prose-em:not-italic prose-headings:prose-em:text-secondary
        prose-a:underline
        max-w-4xl empty:hidden;
} 

@utility check-icon {
    @apply size-4 shrink-0 mask-contain mask-no-repeat bg-primary translate-y-0.5 inline-block mr-3;
    mask-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4986 0.238866C17.0413 0.638746 17.1627 1.40775 16.7681 1.95758L7.05349 15.492C6.84478 15.7842 6.52223 15.9649 6.16552 15.9957C5.80881 16.0264 5.46349 15.8919 5.21304 15.6381L0.355758 10.7165C-0.118586 10.2359 -0.118586 9.45533 0.355758 8.9747C0.830101 8.49408 1.60044 8.49408 2.07478 8.9747L5.92645 12.8774L14.8062 0.508016C15.2008 -0.0418188 15.9598 -0.164859 16.5024 0.235021L16.4986 0.238866Z' fill='%23FCAE42'/%3E%3C/svg%3E%0A");
}
